<% members.each do |member| %>
  <p><strong>Name:</strong> <%= member.name %>
  	<%= link_to "(view)", member %>
  </p>
  <p><strong>Age:</strong> <%= member.age %></p>
  <p><strong>Company:</strong> <%= member.company %></p>
  <p><strong>Money:</strong> <%= member.money %>
    <%= link_to "(give money)", pay_path(member) %>
  </p>
  <p><strong>Number of Recruits:</strong> <%= member.recruits.count %></p>
  <hr>
<% end %>