<p id="notice"><%= notice %></p>


<p><strong>Profile</strong>
  	<%= link_to "(edit)", edit_member_path(@member) %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Company:</strong>
  <%= @member.company %>
</p>

<p>
  <strong>Money:</strong>
  <%= @member.money %>
  <% unless @member.id == 1 %>
    <%= link_to "(give money)", pay_path(@member) %>
  <% end %>
</p>

<% if @member.recruiter %>
  <p><strong>Recruiter:</strong> <%= @member.recruiter.name %></p>
<% end %>

<% if @member.recruits.count > 0 %>
  <hr>
  <p><strong><%= link_to "Add Recruits", recruit_path(@member) %></strong></p>
  <hr>
  <%= render 'member_listing', members: @member.recruits %>
<% end %>

<%= link_to 'Back', members_path %>
